#add-book {
	display: flex;
	justify-content: space-around;
	
}

.form-container {
	align-items: baseline;
	flex-flow: column wrap;
	justify-content: space-between;
	width: 70vw;
}

.item {
	width: 50px;
	display: flex;
	margin-left: 5vw;
	justify-content: baseline;
}

.image-container {
	height: 10vW;
}