#add-book {
	display: flex;
	justify-content: space-around;
}

.form-container {
	align-items:baseline;
	flex-flow: column;
	justify-content: space-evenly;
	width: 70vw;
}

.item {
	width: 15vw;
	display: flex;
	/* margin-left: 5vw; */
	justify-content: baseline;
}

.image-container {
	height: 10vW;
}