.table-image {
  height: 13vh;
  /* max-height: 98px; */
}

.image-container {
  padding:0;
}

table {
  font-size: medium;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

th {
  border-bottom: 2px solid black;;
}

td, th {
  text-align: left;
  padding: 8px;
  /* max-width: 120px;; */
}

.contentBox {
  /* height: 150px; */
}

.contentBox:nth-child(even) {
  background-color: #dddddd;
}

.contentBox:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.descBoxSee {
  visibility: collapse;
  /* text-align: center; */
}

.desc{
  text-align: center;
  /* padding: 0 10vw; */
}

.listBtn {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.contentRow {
}